<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="helapu">

    <title>健康小象</title>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" charset="utf-8"></script> -->
    <!-- <script src=" http://res.wx.qq.com/open/js/jweixin-1.1.0.js" charset="utf-8"></script> -->

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </body>
</html>
